@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }
}
@layer utilities {
    .flex-center {
        @apply flex justify-center items-center;
    }
    .flex-between {
        @apply flex justify-between items-center;
    }
    .grid-center {
        @apply grid place-items-center;
    }
}
@layer base {
    * {
        @apply box-border list-none p-0 m-0 scroll-smooth;
        font-family: "Kanit", sans-serif;
    }
    body {
        @apply bg-background text-foreground;
    }
}

.banner-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("/assets/banner-1.png") center center/cover;
}
.banner-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("/assets/banner-2.jpg") center center/cover;
}
.banner-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("/assets/banner-3.jpg") center center/cover;
}
.founder-bg {
    background: url("/assets/ab-bg-1.jpg") center center/cover;
}

.free-service {
    background: linear-gradient(to right, rgba(26, 188, 156, 1), transparent),
        url("/assets/patient-treatment.jpg") center center/cover;
}
.triangle-1,
.triangle-2 {
    height: 100%;
    width: 24rem;
    background: #1d3557;
}
.triangle-1 {
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}
.triangle-2 {
    clip-path: polygon(0 0, 0% 100%, 100% 0);
}
.triangle-3 {
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("/assets/bg-2.jpg") center center/cover;
    height: 100%;
    width: 100%;
}
.quick-facts-container {
    background: url("/assets/ab-bg-2.svg") center center/cover;
    background-repeat: no-repeat;
}

.services {
    background: url("/assets/ab-bg-4.svg") center center/cover;
    background-repeat: no-repeat;
}

.ellipse-1 {
    clip-path: ellipse(64% 53% at 35% 35%);
}
.ellipse-2 {
    clip-path: ellipse(64% 53% at 76% 70%);
}
.book_appointment {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("/assets/bg-2.jpg") center center/cover;
}
.custom-bg-1 {
    background: url("/assets/ab-bg-2.svg") center center/cover;
    background-repeat: no-repeat;
}
.custom-bg-2 {
    background: url("/assets/ab-bg-4.svg") center center/cover;
    background-repeat: no-repeat;
}
.custom-bg-3 {
    background: url("/assets/background3.jpg") center center/cover;
    background-repeat: no-repeat;
}
.docCard img {
    transition: transform 0.2s ease-in-out;
}
.docCard:hover img {
    transform: scale(1.1);
}
.docCard::before {
    content: "";
    position: absolute;
    clip-path: polygon(100% 0, 3% 0, 100% 100%);
    height: 100%;
    width: 100%;
    top: -100%;
    right: -100%;
    bottom: 0;
    background: rgba(223, 249, 251, 1);
    z-index: -5;
    transition: all 0.2s ease-in-out;
}
.docCard:hover:before {
    top: 0;
    right: 0;
}
.slick-arrow.slick-prev,
.slick-arrow.slick-next {
    width: 80px;
    height: 100px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background: #fff !important;
    color: red !important;
    z-index: 2;
    border-radius: 50%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 450px) {
    .slick-arrow.slick-prev,
    .slick-arrow.slick-next {
        width: 36px;
        height: 60px;
        backdrop-filter: blur(0px);
        background-color: white;
    }
}
.slick-arrow.slick-prev {
    left: -2.8rem !important;
}
.slick-next {
    right: -2.7rem !important;
}
.slick-prev::before {
    content: "Prev" !important;
    font-family: sans-serif !important;
    color: rgba(231, 76, 60, 1) !important;
    transform: rotate(90deg);
    font-size: 12px !important;
    padding-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.slick-next::before {
    content: "Next" !important;
    font-family: sans-serif !important;
    color: rgba(231, 76, 60, 1) !important;
    transform: rotate(-90deg);
    font-size: 12px !important;
    padding-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
}
